<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-csp="" ng-app="boilerplate"> <!--<![endif]-->

	<head>

		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Vertinimas</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- mobile meta -->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
		<meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'">



		<!--[if IE]>
			<!--<link rel="shortcut icon" href="favicon.ico">-->
		<!--<![endif]&ndash;&gt;-->
		<!-- or, set /favicon.ico for IE10 win -->
		<!--<meta name="msapplication-TileColor" content="#f01d4f">-->

		<!-- CSS -->
		<!-- build:css css/style.min.css -->
		<!--<link rel="stylesheet" href="bower_components/OwlCarousel/owl-carousel/owl.carousel.css" />-->
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="bower_components/materialize/bin/materialize.css"  media="screen,projection"/>
		<!-- endbuild -->

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body class="main-wrapper">
	
		<!--[if lt IE 8]>
		    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Navigation -->
		<main-nav></main-nav>

		<!-- Main view for templates -->
		<div data-ng-view="" class="container page {{ pageClass }}"></div>

	</body>

	<!-- Vendors -->
	<!-- build:nonangularlibs js/nonangularlibs.js -->
	<!--<script type="text/javascript" src="js/nonangular/jquery-1.11.2.min.js"></script>-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="bower_components/materialize/bin/materialize.js"></script>
	<!-- endbuild -->

	<!-- Non-angular libraries -->
	<!-- build:libs js/libs.js -->
	<script type="text/javascript" src="js/nonangular/lodash.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="bower_components/OwlCarousel/owl-carousel/owl.carousel.min.js"></script>
	<!-- endbuild -->

	<!-- Angular external libraries for application -->
	<!-- build:angularlibs js/angularlibs.js -->
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<!--<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>-->
	<!-- endbuild -->

	<!-- Angular components -->
	<!-- build:appcomponents js/appcomponents.js -->
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/config.js"></script>
	<script type="text/javascript" src="components/services/LocalStorage.service.js"></script>
	<script type="text/javascript" src="components/services/queryService.service.js"></script>
	<script type="text/javascript" src="components/directives/main.nav.directive.js"></script>
	<script type="text/javascript" src="components/directives/responsive.nav.directive.js"></script>
	<script type="text/javascript" src="components/directives/owl.slider.directive.js"></script>
	<!-- endbuild -->

	<!-- Application sections -->
	<!-- build:mainapp js/mainapp.js -->
	<script type="text/javascript" src="app/factory.js"></script>
	<script type="text/javascript" src="app/controller.js"></script>
	<!-- endbuild -->

	<!-- templates from $templateCache -->
	<!-- build:templates -->
	<!-- endbuild -->

</html>
