<h4 class="red-text text-lighten-2 condensed light">Suprasti akimirksniu</h4>
<div class="row">
    <div class="col s12">
        <div class="card teal hoverable">
            <div class="card-image">
                <img src="images/tutorial-mobile.gif" style="display: block;">
            </div>
            <div class="card-action center-align">
                <a ng-href="#/rate" class="waves-effect waves-light btn pulse red lighten-2">Pradedam!</a>
            </div>
        </div>
    </div>
</div>