<h4 class="red-text text-lighten-2 condensed light">Surask save!</h4>

<ul class="collapsible popout" data-collapsible="accordion" >
    <li ng-repeat="(object, staff) in users">

        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i> {{ object }}
        </div>

        <div class="collapsible-body">

            <div class="collection">
                <a ng-href="#/explain" class="collection-item" ng-repeat="employee in staff" ng-click="setUserId(employee.id)"><i class="material-icons" style="height: 24px !important; line-height: 24px !important;">face</i> <span style="height: 24px !important; line-height: 24px !important;">{{ employee.name }}</span></a>
            </div>

        </div>

    </li>
</ul>