<h4 class="red-text text-lighten-2 condensed light">Įvertink mus!</h4>

<div class="row">
    <div class="col s12">

        <ul class="collapsible popout" data-collapsible="accordion">
            <li >
                <div class="collapsible-header" ng-click="collapsible(0)"><i class="material-icons">free_breakfast</i> Prašome įvertinkite maisto kokybę?</div>

                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s4 center-align hoverable" ng-class="question.one == 1 ? 'cyan darken-1' : ''" ng-click="question.one = 1">
                            <i class="large material-icons">mood</i>
                        </div>
                        <div class="col s4 center-align hoverable" ng-class="question.one == 2 ? 'cyan darken-1' : ''" ng-click="question.one = 2; collapsible(1)">
                            <i class="large material-icons">sentiment_neutral</i>
                        </div>
                        <div class="col s4 center-align hoverable" ng-class="question.one == 3 ? 'cyan darken-1' : ''" ng-click="question.one = 3; collapsible(2)">
                            <i class="large material-icons">mood_bad</i>
                        </div>

                    </div>
                </div>

            </li>
            <li ng-show="question.one == 2">
                <div class="collapsible-header" ng-click="collapsible(1)"><i class="material-icons">face</i> Kas jums nepatiko?</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s4 center-align hoverable" ng-class="question.two == 1 ? 'cyan darken-1' : ''" ng-click="question.two = 1; collapsible(2)">
                            <i class="large material-icons">mood</i>
                            <span>Maistas</span>
                        </div>
                        <div class="col s4 center-align hoverable" ng-class="question.two == 2 ? 'cyan darken-1' : ''" ng-click="question.two = 2; collapsible(2)">
                            <i class="large material-icons">sentiment_neutral</i>
                            <span>Aptarnavimas</span>
                        </div>
                        <div class="col s4 center-align hoverable" ng-class="question.two == 3 ? 'cyan darken-1' : ''" ng-click="question.two = 3; collapsible(2)">
                            <i class="large material-icons">sentiment_neutral</i>
                            <span>Ir tas ir tas</span>
                        </div>

                    </div>
                </div>
            </li>
            <li ng-show="question.two != 0">
                <div class="collapsible-header" ng-click="collapsible(2)"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="comment" class="materialize-textarea" ng-model="question.comment.two"></textarea>
                            <label for="comment">Kodėl?</label>
                        </div>

                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" ng-click="submitRate()">Vertink!
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>
