<nav>
    <div class="nav-wrapper teal">
        <a ngHref="/" class="brand-logo" style="height: 100%; padding-top: 5px; padding-bottom: 5px;">
            <img src="/images/nese.png" style="height: 100%;">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
        </ul>
    </div>
</nav>